@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:ital,wght@1,600&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	/* font-family: 'Allura', cursive; */
	/* font-family: 'Playfair Display', serif;
	font-weight: 400; */
}

.link {
	@apply underline text-blue-600 hover:text-blue-800;
}

.p-clamp {
	width: clamp(45ch, 50%, 75ch);
}

.nav-item {
	@apply text-gray-1000 hover:text-green-800 list-none
	font-medium text-lg;
}

.active-nav {
	@apply border-b-2 border-gray-1000 text-gray-1000 list-none
	hover:text-green-800 hover:border-green-800
	font-medium text-lg;
}

.main-heading {
	@apply text-3xl text-gray-1000 text-center font-bold my-12;
}

.nft-card {
	@apply m-8 md:m-6 md:max-w-sm rounded-3xl overflow-hidden
	shadow-xl dark:shadow-2xl bg-beige-200;
}

/* Home */

.breed-card-heading {
	@apply text-xl text-center font-semibold md:my-2
	tracking-tight text-gray-900 md:text-2xl md:font-bold;
}

.breed-card-img {
	@apply rounded-t-lg object-cover w-full md:h-72 h-full;
}

.background-diagonal {
	position: absolute;
	z-index: -5;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(160deg, #e7dacf 50%, white 50%);
	/* background: linear-gradient(160deg, #e7dacf, #e7dacf 60%, white 60%, white); */
}
